.App {
  text-align: center;
}

img {
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  /*1 fr, one colum. 1fr 1fr , 2 columns... and so on*/
  background-color:rgb(206, 204, 204);
}

.item {

  font-weight: bold;
  position: relative;
  padding: 10px;
  border: 1px solid purple;
  overflow: hidden;
  padding: 10px;
}

.overlay {
  position: absolute;
  bottom: -100px;
  left: 0px;
  width: 100%;
  background-color: purple;
  transition: bottom ease 1s;
  opacity: .8;
}
.item:hover .overlay {
  opacity: .8;
  bottom: 0;
}