.App {
  text-align: center;
}

img {
  width: 100%;
}
.item{
  flex: 0;
}
.container {
  display: flex;
}
.item {
  flex: 1;
  font-weight: bold;
  padding: 30px;
}

.tvShows {
  max-width: 100%; 
}

@media only screen and (max-width: 400px){
  .container {
    flex-direction: column;
  }
} 
