.App {
  text-align: center;
}

img {
  width: 100%;
}

.container {
  display: flex;
}

.item {
  flex: 1;
  font-weight: bold;
  position: relative;
  padding: 10px;
  border: 1px solid purple;
  overflow: hidden;
  padding: 10px;
}

.overlay {
  position: absolute;
  bottom: -100px;
  left: 0px;
  width: 100%;
  background-color: purple;
  transition: bottom ease 1s;
  opacity: .8;
}
.item:hover .overlay {
  opacity: .8;
  bottom: 0;
}

@media only screen and (max-width: 400px){
  .container {
    flex-direction: column;
  }
} 
